<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Open Weather</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/erikflowers/weather-icons/master/css/weather-icons-wind.min.css">
  </head>
  <body onload="dt(<%= weather.dt %>); sunrise(<%= weather.sys.sunrise %>); sunset(<%= weather.sys.sunset %>)">
    <!-- <div class="container"> -->
      <fieldset>
        <form action="/weather" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(weather !== null){ %>
          <div class="card weather-forecast">
            <div class="city-key" hidden=""></div>
            <div class="location"><%= weather.name %>, <%= weather.sys.country %></div>
            <div class="date" id="dt">Thu, 21 Jul 2017 09:00 PM EAT</div>
            <div class="description"><%= weather.main.main %><small><%= weather.main.description %></small></div>
            <div class="current">
              <div class="visual">
                <div class="icon rain"></div>
                <div class="temperature">
                  <span class="value"><%= weather.main.temp %></span><span class="scale">°C</span>
                </div>
              </div>
              <div class="description">
                <div class="humidity"><%= weather.main.humidity %>%</div>
                <div class="wind">
                  <span class="value"><%= weather.wind.speed %></span>
                  <span class="scale">meter/sec</span>
                  <span class="direction"><%= weather.wind.deg %></span>°
                </div>
                <div class="sunrise" id="sunrise"><%= weather.sys.sunrise %></div>
                <div class="sunset" id="sunset"><%= weather.sys.sunset %></div>
              </div>
            </div>
          </div>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    <!-- </div> -->
    <script type="text/javascript">
      function dt(timestamp) {
        document.getElementById('dt').innerHTML = convert(timestamp);
      }
      function sunrise(timestamp) {
        document.getElementById('sunrise').innerHTML = convert(timestamp);
      }
      function sunset(timestamp) {
        document.getElementById('sunset').innerHTML = convert(timestamp);
      }

      function convert(timestamp) {
         // Unixtimestamp
         var unixtimestamp = timestamp;
         // Months array
         var months_arr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
         // Convert timestamp to milliseconds
         var date = new Date(unixtimestamp*1000);
         // Year
         var year = date.getFullYear();
         // Month
         var month = months_arr[date.getMonth()];
         // Day
         var day = date.getDate();
         // Hours
         var hours = date.getHours();
         // Minutes
         var minutes = "0" + date.getMinutes();
         // Seconds
         var seconds = "0" + date.getSeconds();
         // Display date time in MM-dd-yyyy h:m:s format
         // var convdataTime = month+'-'+day+'-'+year+' '+hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
         return day+' '+month+' '+year+' '+hours + ':' + minutes.substr(-2);         
      }
    </script>
  </body>
</html>
